html
    head
        title= "500 Server Error"
        style
            include ./style.css
    body
        h1= "Internal server error, I probably messed up with the SQL or something"
        p= "Follow me on twitter, instagram, linkedin, and OnlyFans"
