.heading {
    margin: auto;
    width: 70%;
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 40px;
}

ul, li {
    display: inline-block;
    zoom: 1;
}

.content_section {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
    height: 200%;
}

.entry {
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    height: 200px;
    margin: 20px;
}

a:link {
    background-color: #3FEEE6;
}

a:visited {
    background-color: #8EE4AF;
}

a:hover {
    background-color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
}



ul {
    list-style-type: none;
}
